<div class="container mw-100">
  <div class="formulaire">
<form #f="ngForm" (ngSubmit)="add(f)">
    <div class="row">
      <div style="background-image: url(../../../assets/ops.jpg);background-repeat: no-repeat;background-size: 90%;background-position: center;" class="col-5">
        <!-- <img class="col-12" src="assets/ops.jpg" alt=""> -->
        
        </div>
      <div class="col-6"> <!-- div likbira aalisar-->
        <div class="row"> <!-- row likbyra-->
          <div class="row">
            <div class="col-12">
              <!-- <div class="mt-2">
            
                 <input class="btn btn-success" type="file" (change)="selectFile($event)"> 
                <button class="btn btn-success" (click)="onFilePickerClick()">Select Image</button>
                

            
          </div> -->
          </div>  
            <div class="col-12">
          <div class="mb-2 text-center justify-content-center">
            <img class="rounded-circle" [src]="url" width="150" height="150" alt="" (click)="selectFile($event)">
            <br>
            <button class="btn btn-outline-info" (click)="onFilePickerClick()">Select Image</button>
          </div></div>
            
        
            
        </div>
        
    <div class="form-group col-6">
        <label for="firstName">First Name</label>
        <input ngModel required minlength="3" #firstname="ngModel" type="text" class="form-control mb-2"  name="firstname" id="firstname"  placeholder="Enter your first name" >
      <div class="alert alert-danger p-1" *ngIf="firstname.invalid && firstname.touched">
          Ce champ est obligatoire
      </div>
      </div>
      
      <div class="form-group col-6">
        <label for="lastname">Last Name</label>
        <input ngModel required minlength="3" #lastname="ngModel" type="text" class="form-control mb-2" name="lastname" id="lastname" placeholder="Enter your last name">
        <div class="alert alert-danger p-1" *ngIf="lastname.invalid && lastname.touched">
          Ce champ est obligatoire
      </div>
      </div>
    </div>
      
      <div class="form-group">
        <label for="email">Email Address</label>
        <input ngModel required email #email="ngModel" type="email" class="form-control mb-2" name="email" id="email"  placeholder="Enter your email address">
        <div class="alert alert-danger p-1" *ngIf="email.invalid && email.touched">
          Saisir Email
      </div>
      </div>
      
      <div class="form-group">
        <label for="post">post</label>
        <select [ngModel]="defaultSection" name="post" class="form-control mb-2" id="post">
          <option [value]="categorie"  *ngFor="let categorie of categories">{{categorie}}</option>
        </select>
      
      </div>
      
      <div class="row">
        <div class="form-group col-6">
          <label for="region">region</label>
          <select class="form-control mb-2" id="region">
            <option>+216</option>
            
          </select></div>
        <div class="form-group col-6">
          <label for="phoneNumber">Phone Number</label>
          <input ngModel required minlength="7" #phoneNumber="ngModel" type="number" class="form-control mb-2 " name="age" id="phoneNumber" placeholder="Enter your phone number">
          <div class="alert alert-danger p-1"  *ngIf="phoneNumber.invalid && phoneNumber.touched">
            Ce champ est obligatoire
        </div>
        </div>
        
      </div>
      
      <div class="row">
      <div class="form-group col-6">
        <label for="password">Password</label>
        <input ngModel required minlength="6" #password="ngModel" type="password" class="form-control mb-2" name="password" id="password" placeholder="Enter your password">
        <div class="alert alert-danger p-1" *ngIf="password.invalid && password.touched">
          Ce champ est obligatoire
      </div>
        
      </div>
      
      <div class="form-group col-6">
        <label for="confirmPassword">Confirm Password</label>
        <input  type="password" class="form-control mb-2 " name="confirmPassword" id="confirmPassword" placeholder="Confirm your password">
        <!-- <div class="alert alert-danger p-1">
          Ce champ est obligatoire
      </div> -->
      </div>
      
      <div class="form-group mt-2">
        
      <button type="submit"  class="btn btn-success col-6" >Register</button>
      <button type="click" class="btn btn-danger col-6" >Cancel</button>
       
    </div>
    </div>
    </div>
    </div>
   
    </form>
  </div>
  </div>
    
  