<div class="footer">
    <div class="container mw-100">
        <div class="row footer">
    <div class="col-4">
        <div style="background-image: url(assets/logo.png);" class="picture"></div> 
    </div>
    <div class="col-3">
       
        <div class="information">
            <span>Liberty street, Mhamdia, Ben aarous, Tunisia </span>
            <span>+216 29 042 023</span>
            <span>Our partner "TEK-UP"</span>
        </div>

    </div>
    <div class="col-3 social-media">
        <span>Facebook : /minifootball </span>
        <span>Instagram : /minifootball</span>
    </div>
</div><!--row div-->
</div><!--contaienr div-->
</div><!--footer div-->



