<nav class="navbar navbar-expand-lg navbar-light">
    
      <a class="navbar-brand">
        <img src="assets/logo.png" alt="" width="200"  class="d-inline-block align-top logo"> 
      </a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav col-10 ml-auto">
          <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
          <a class="nav-item nav-link" routerLink="training" routerLinkActive="active">Training</a>
          <a class="nav-item nav-link" routerLink="elite" routerLinkActive="active">Elites</a>
          <a class="nav-item nav-link " routerLink="events" routerLinkActive="active">Events</a>
        </div>
        <div class="text-right col-2">
        <button class="btn btn-success text-right" routerLink="starter">Get Starter</button>
        
        </div>
      
    </div>
  </nav>