.navbar a{
    text-align: right;
}
.navbar a:hover{
    color: rgb(1, 63, 1);
}
.navbar-nav{
    gap: 0.8rem;
    margin-left: 5rem;
    
    
}
.logo{
    margin-left: 1rem;
    cursor: pointer;
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}
nav.fixed{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 3;
}
.btnnav{
    margin-left: 50rem;
    
}