<div class="container mw-100">
<div class="row">
    <div class="col-7">
            <div class="hero">
            <div class="the-best">
                <div></div>
                <span>Football Academy for all levels</span>
            </div>
        </div>
            <div class="hero-text">
                <div>
                    <span>Welcome</span> 
                    <span></span>
                </div>
                <div>
                    <span class="stroke-text">To OUR</span>
                    <span>
                        Academy
                    </span>
                </div>
                <div>
                <span>
                    Pretium, lacinia curabitur habitasse eleifend mus habitant tempor in fames. Tortor lobortis dictumst
                    placerat ultrices elementum pretium sagittis laoreet dapibus ad? Metus elementum potenti vehicula massa
                    ipsum massa nam metus vestibulum auctor. Iaculis cursus lobortis bibendum nisl congue nunc. Quam interdum
                    taciti at erat adipiscing mollis nisi! Odio sociosqu massa enim mi penatibus. Dapibus ad dignissim vel molestie
                    turpis vestibulum. Condimentum posuere fermentum pellentesque et curabitur metus porta tellus. Purus ac hendrerit
                    felis magnis fusce aenean consequat id. Vivamus blandit hac egestas pellentesque maecenas orci libero sapien sapien
                    sed tempor. Potenti.
                </span>
                </div>
            
            <div class="figures">
                <div *ngFor="let figure of figures">
                    <span>+ {{figure.num}}</span>
                    <span>{{figure.title}}</span>
                </div>
            </div>   
            <div>
                <button class="btn btn-success" routerLink="starter">Get Started</button>  
            </div>
            
        </div><!--col left-->

</div>
    <div class="col-5">
        <div class="right-h">
        <img class="pic"src="assets/logo.png" alt="">
    </div>
    </div><!--col right-->
</div><!--row-->
<div class="row">
    <div class="container">
<div class="programs">
    <div class="programs-header">
    <span class="stroke-text">Explore Our</span>
    <span> Programs</span>
    <span class="stroke-text"> to shape you</span>
</div><!--programs header-->

<div class="program-categories">
    <div class="col-3" *ngFor="let program of programs">
        <div class="category">
           <img [src]="program.icon" alt="">
            <span>{{program.title}}</span>
            <span>{{program.desc}}</span>   
        </div>
    </div>
</div>
</div><!--programs-->
</div><!--prog container-->
</div><!--programs row-->
<div class="raisons">
    <div class="container mw-100">
    <div class="row">
        <div class="col-6 combo">
            <div class="row">
            <div class="col-4">
                <img src="assets/top.jpg" width="100%" height="68.3%" alt="">
            </div><!--left pic-->
            <div class="col-8">
                <img src="assets/jump.jpg" width="60%" height="35%" alt="">
                <div class="row">
                    <div class="col-12 twopic">
                    <img src="assets/cap.jpg" width="30%" alt="">
                    <img src="assets/bw.jpg" width="30%" alt="">
                    </div>
                </div>
            </div><!--right pics-->
  </div><!--row pic-->
        </div><!--col -6 -->
        <div class="col-5">
            <div class="somereasons">
                <div class="somereasons-header">
                    Some Raisons
                </div>
                <div class="theraisons">
                    <span>Why you choose us</span>
                    <span>ENTRAÎNEZ-VOUS PLUS INTELLIGEMMENT ET PLUS RAPIDEMENT</span>
                    <span>ENTRAÎNEZ-VOUS PLUS INTELLIGEMMENT ET PLUS RAPIDEMENT</span>
                    <span>ENTRAÎNEZ-VOUS PLUS INTELLIGEMMENT ET PLUS RAPIDEMENT</span>
                    <span>ENTRAÎNEZ-VOUS PLUS INTELLIGEMMENT ET PLUS RAPIDEMENT</span>
                </div>
                <div class="partner">
                    <span>Our partner</span>
                    <img src="assets/tekup.png" width="50px" height="50px" alt="">
                    
                </div>
            </div>
        </div>
    </div><!--row raison-->
    </div>
</div><!--raison div-->

<div class="pack">
    <div class="pack-header">
        <span> ready to Start</span>
        <span class="stroke-text"> training</span>
        <span> with us now</span>
    </div>
</div>

</div><!--container-->



    

