:root{
    --lightgray:#D9D9D9;
    --gray : #9c9c9c;
    --orange: #f48915;
    --planCard: Linear-gradient(210.41deg, #fa5042 1.14%, #ffa739 100.75%);
    --appColor: #5e6269;
}
.gardient{
    background-color: Linear-gradient(210.41deg, #fa5042 1.14%, #ffa739 100.75%);  
}
.hero{
    display: flex;
    justify-content: space-between;
    margin-left: 70px;
}

.the-best{
    margin-top: 4rem;
    background-color: rgb(21, 141, 47);
    color: white;
    border-radius: 4rem;
    width: fit-content;
    padding: 20px 13px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.the-best>div{
    position: absolute;
    background-color: orange;
    width: 5.4rem;
    height: 80%;
    left: 8px;
    border-radius: 3rem;
}
.the-best>span{
    z-index: 2;
}

.hero-text{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 4.5rem;
    font-weight: bold;
    color:rgb(44, 44, 44);
    text-overflow: inherit;
    margin-left: 70px;
    
}
.stroke-text{
    color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(10, 10, 10);
}
.hero-text>div:nth-of-type(3){
    font-size: 1rem;  
    color: black;
    text-transform: none;
    font-weight: 200;
    letter-spacing: 1px;
    width: 80%;
}
.figures{
    margin-top: 2rem;
    font-size: 1rem;
    display: flex;
    gap: 5rem;
}
.figures>div{
    display: flex;
    flex-direction: column;
    
}
.figures>div>span:nth-of-type(1){
    color: green;
    font-size: 2rem;
}
.figures>div>span:nth-of-type(2){
    color: orange;
    font-size: 2rem;
    text-transform: none;
    
}

.right-h{
    
    width: 5rem;
    height: 5rem;  
    position: absolute;
    
    
    
}

.pic{
   
    top: 4rem;
    width: auto;
    max-width: 70rem;
}
.picright{
    position: relative;
    background-size: cover; 
    background-image: url(../../../assets/logo.png);
    background-position: center;
    background-size: 73rem;
    background-repeat: no-repeat;
}

.programs{
    margin-top: 3.2rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
     
}
.programs-header{
    gap: 9rem;
    justify-content: center;
    display: flex;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 3rem;
    text-transform: uppercase;
}
.program-categories{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    padding: 1rem;
    gap: 1rem;
    
}
.category:hover{
    background-image: Linear-gradient(210.41deg, #b3bf49 1.14%, #2395bf 100.75%);
    
}
.category{
    display: flex;
    flex-direction: column;
    background-image:Linear-gradient(200.41deg, #69ba6c 1.14%, #0b673c 90.75%);
    padding: 2rem;
    color: white;
    font-size: 1.4rem;
    gap: 1rem;
    cursor: pointer;
    
}


.category>:nth-child(1){
    
    fill: white;
    width: 5rem;
    height: 5rem; 
}
.category>:nth-child(2){
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
}
.category>:nth-child(3){
    font-size: 1rem;
    text-transform: capitalize;
    color: white(7, 7, 7);
    line-height:35px;
    word-wrap: break-word;
    font-family:'Times New Roman', Times, serif;
}

.pack{
    margin-top: 7rem; 
}
.packcard{
    
    align-items: center;
}
.pack-header{
    gap: 8rem;
    justify-content: center;
    display: flex;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 3rem;  
    
}
.combo{
    margin-left: 12px;
    object-fit: cover;
    height: 25rem;
    
}
.twopic{
    display: flex;  
}
.somereasons-header{
    font-size: 1.5rem;
    font-weight: bold;
    color: #07744a;
    text-transform: uppercase;
}
.raisons{
    margin-top: 3rem;
}
.theraisons{
    color: rgb(54, 54, 54);
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    font-weight: bold;
    gap: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.theraisons>span:nth-child(1){
    color: orange;
    font-size: 2rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.partner{
    text-transform: uppercase;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold;  
    color: rgb(109, 21, 21); 
}
.partner>img{
     margin-left: 2rem;
}
.allraison{
    height: 25rem;
}
.card-content{
    display: flex;
    flex-direction: column;
    background-color: #5e6269;
    padding: 1.8rem;
    color: white;
    font-size: 1.4rem;
    gap: 2rem;
    cursor: pointer;
    width: 25rem;
    height: 35rem;
    text-transform: uppercase;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin-top: 1rem;
    border-radius: 1%;
}
.big{
    display: flex;
    flex-direction: column;
    background-image: Linear-gradient(210.41deg, #fff06c 1.14%, #ff8c00 100.75%);  
    padding: 1.8rem;
    color: green;
    font-size: 1.4rem;
    gap: 3rem;
    cursor: pointer;
    width: 25rem;
    height: 40rem;
    text-transform: uppercase;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin-top: 1rem;
    border-radius: 1%;
}
.card-content>:nth-child(1){
    
    width: 5rem;
}
.card-content>:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-content>:nth-child(3){
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}
.card-content>:nth-child(n+4){
    
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    gap: 1rem;
}
.big>:nth-child(1){
    
    width: 5rem;
}
.big>:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: center;
}
.big>:nth-child(3){
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}
.big>:nth-child(n+4){
    
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
    gap: 1rem;
}


.cards{ 
    justify-content: center;
    margin-top: 2rem;
}
.packcard{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 7rem;
}