<div class="container mw-100">
<form>
    <div class="row border">
      <div style="background-image: url(../../../assets/bw.jpg);height: 44rem;background-size: cover;" class="col-6">
      </div>
      <div class="col-6 border">
      <br>
      <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" class="form-control" id="email"  placeholder="Enter your email address">
      </div>
      <br>
      <div class="row">
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password"  placeholder="Enter your password">
      </div>
      <br><br>
      <div class="form-group">
        <br>
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" class="form-control" id="confirmPassword"  placeholder="Confirm your password">
      </div>
      <br>
      <div class="form-group">
        <br>
      <button type="submit" class="btn btn-success mr-1 col-6">Login</button>
      <button type="submit" class="btn btn-danger mr-2 col-6">Cancel</button>
      </div>
    </div>
    </div>
    </div>
    </form>
  </div>
    
  