<form #f2="ngForm" (ngSubmit)="add(f2)" >
    <div class="row">
      <div style="background-image: url(../../../assets/coach.jpg);background-position: center;background-size: contain;background-repeat: no-repeat;" class="col-6 taille">
        
        
        </div>
      <div class="col-6 formulaire">
        <div class="row">
    <div class="form-group col-6">
        <label for="firstName">First Name</label>
        <input ngModel required minlength="3" #firstname="ngModel" name="firstname" type="text" class="form-control" id="firstName"  placeholder="Enter your first name">
      </div>
      
      <div class="form-group col-6">
        <label for="lastName">Last Name</label>
        <input ngModel required minlength="3" #lastname="ngModel" name="lastname" type="text" class="form-control" id="lastName" placeholder="Enter your last name">
      </div>
    </div>
      <br>
      <div class="form-group">
        <label for="email">Email Address</label>
        <input ngModel required minlength="3" #email="ngModel" name="email" type="email" class="form-control" id="email"  placeholder="Enter your email address">
      </div>
      <br>
      <div class="form-group">
        <label for="Experience">Experience</label>
        <select [ngModel]="defaultSection" name="experience" class="form-control" id="Experience">
            
            <option [value]="experience" *ngFor="let experience of experiences">{{experience}}</option>
        </select></div>
      <br>
      <div class="row">
        <div class="form-group col-6">
          <label for="region">region</label>
          <select class="form-control" id="region">
            <option>+216</option>
            
          </select></div>
        <div class="form-group col-6">
          <label for="phoneNumber">Phone Number</label>
          <input ngModel required minlength="3" #phone="ngModel" name="phone" type="text" class="form-control" id="phoneNumber" placeholder="Enter your phone number">
        </div>
      </div>
      <br>
      <div class="row">
      <div class="form-group col-6">
        <label for="password">Password</label>
        <input ngModel required minlength="3" #password="ngModel" name="password" type="password" class="form-control" id="password"  placeholder="Enter your password">
      </div>
      <br>
      <div class="form-group col-6">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" class="form-control" id="confirmPassword"  placeholder="Confirm your password">
      </div>
      <br>
      <div class="form-group">
        <br>
      <button type="submit" class="btn btn-success mr-1 col-6">Register</button>
      <button type="submit" class="btn btn-danger mr-2 col-6">Cancel</button>
      </div>
    </div>
    </div>
    </div>
   
    </form>
    
  