
    <div class="row">
<div class="card-container col-6">
  <div class="card">
      <div class="front col-6 bg-primary">
          <div class="cover ">
              <img class="img-thumbnail " style="width:100%" src="assets/top2.jpg"/>
          </div>
          <!--<div class="user">
              <img class="img-circle" src="assets/minifoot.jpg"/>
          </div>-->
          <div class="content">
              <div class="main">
                  <h1>player</h1>
              </div>
              
          </div>
      </div> <!-- end front panel -->
      <div class="back col-6">
          <div class="header">
              <h1 class="motto text-center">Player</h1>
          </div>
          <div class="content text-center">
              <div class="main container">
                <button class="btn btn-success col-8" routerLink="/register">Sign UP</button><br>
                <button class="btn btn-danger col-8" routerLink="/login">Sign In</button>
              </div>
          </div>
          
      </div> <!-- end back panel -->
  </div> <!-- end card -->
</div>
<div class="card-container col-6">
  <div class="card">
      <div class="front">
          <div class="cover">
              <img class="img-thumbnail"  src="assets/coach2.jpg"/>
          </div>
          <!--<div class="user">
              <img class="img-circle" src="assets/minifoot.jpg"/>
          </div>-->
          <div class="content">
              <div class="main">
                  <h1>Coach</h1>
              </div>
              
          </div>
      </div> <!-- end front panel -->
      <div class="back col-6">
          <div class="header">
              <h1 class="motto text-center">Coach</h1>
          </div>
          <div class="content text-center">
            <div class="main container ">
              <button class="btn btn-success col-8" routerLink="/register2">Sign UP</button><br>
              <button class="btn btn-danger col-8" routerLink="/login2">Sign In</button>
            </div>
        </div>
          
      </div> <!-- end back panel -->
  </div> <!-- end card -->
</div>
</div>
 <!-- end card-container -->
<!--<div class="row">
<form>
    <div class="row border">
      <div class="col-6">
        <img class="col-12" src="assets/minifoot.jpg" alt="">
    </div>
    <div class="col-6">
        <img class="col-12 boder" src="assets/minifoot.jpg" alt="">
    </div>

    </div>
    
   
    </form>
  </div>-->
    
  